<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition in Python</title>
</head>
<body>
    <h1>Upload File (Image)</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br>
        <input type="submit" value="Submit"/>
    </form>
    <br>
    {% if result != "" and filename != ""%}
    <div id="textInImage">
        <!-- <img src="../../backend/uploads/{filename}" alt="notes"> -->
        <h2>Text from Image: </h2>
        <p>{{result}}</p>
        <h2>Summary: </h2>
    </div>
    {% endif %}
</body>
</html>
